.categories {
    margin-top: 88px;
    margin-bottom: 88px;
}

.categ-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.categ-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 312px;
    height: 220px;
    color: var(--corPrimariaTextos);
    background-color: var(--corSecundariaBackground);
    border-radius: 16px;
    padding: 16px 8px;
    text-align: center;
    text-decoration: none;
    gap: 24px;
}

.categ-card h3 {
    font-size: 28px;
    font-weight: var(--pesoFonteTitulos);
}

@media screen and (min-width: 768px) {
    .categ-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .categ-cards {
        flex-wrap: nowrap;
    }

    .categ-card {
        width: 281.25px;
        height: 220px;
    }
}