header {
    position: relative;
    font-weight: var(--pesoFonteTitulos);
    background-color: var(--corTerciariaBackground);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--corTerciariaBackground);
}

nav {
    display: none;
}

.list-links {
    list-style: none;
    margin-left: 30px;
}

.list-links li {
    margin-bottom: 16px;
}

 .list-links li a {
    color: var(--corSecundariaTextos);
    text-decoration: none;
}